// E1
nav {
    // 1
    width: 100%;
    height: $nav-height;


    // 2
    position: fixed;
    top: 0;
    left: 0;

    // 3
    @include flex-position($x:space-between);

    // 4
    background-color: var(--transparent-bg-color);
    // @include box-shadow;

    // 5
    & + main {
        margin-top: $nav-height;
    }
    
    // 6
    &.screen-scrolled {
        background-color: var(--primary-color);
    }
}



// E2
#nav-logo-container {
    height: 100%;
    @include flex-position;
    margin: var(--nav-logo-margin);

    h1 {
        font-size: 3.2rem;
        font-family: 'Alegreya Sans', sans-serif;
        color: var(--primary-color);
    }
}



// E3
nav ul {
    // 1
    min-height: 100%;
    @include flex-position;
    margin: var(--nav-ul-margin);

    // 2 - For Dropdown Menus
    position: relative;
}



// E4
nav ul li {
    min-height: $nav-height;  // @Room_For_Better
    @include flex-position;
}



// E5
nav ul li a {
    min-height: $nav-height;
    @include flex-position;
    padding: 0 3rem 0 3rem;  // @Hard_Coded
    font-size: 2rem;
}
