// E1
nav {
    // 1
    width: 100%;
    height: $nav-height;


    // 2
    position: fixed;
    top: 0;
    left: 0;

    // 3
    @include flex-position($x:space-between);

    // 4
    background-color: var(--secondary-color);
    color: var(--white-color);

    // 5
    & + main {
        margin-top: $nav-height;
    }
    
    // 6
    &.screen-scrolled {
        background-color: var(--primary-color);
    }
}



// E2
#nav-logo-container {
    height: 100%;
    @include flex-position;
    margin-left: var(--nav-inner-margin);

    figure {
        width: var(--nav-logo-width);
        margin-right: 3px;
    }

    h1 {
        font-size: var(--nav--h1-size);
        font-weight: 800;
    }
}



// E3
nav ul {
    // 1
    min-height: 100%;
    @include flex-position;
    margin-right: var(--nav-inner-margin);

    // 2 - For Dropdown Menus
    position: relative;
}



// E4
nav ul li {
    min-height: $nav-height;  // @Room_For_Better
    @include flex-position;
}



// E5
nav ul li a {
    // ---
    min-height: $nav-height;
    @include flex-position;
    padding: 0 var(--nav--li-padding) 0 var(--nav--li-padding);
    font-size: 2rem;

    // Dependant on $nav-height
    color: var(--white-color);  // @Override(initial)
    font-size: var(--nav--font-size);
}



// E6
#nav-mobile {
    // // 1
    display: none;

    // 2
    margin-right: var(--nav-inner-margin);

    
    #burger-menu {
        @include flex-position;
        flex-direction: column;



        span {
            // ---
            display: block;
            height: 5px;
            width: 35px;
            background: var(--white-color);
            margin-bottom:4px;
            // ---
            cursor: pointer;
            border-radius: 5px;
            transition: all $transition-duration ease-in-out;

            &:last-child {margin-bottom: 0;}
        }



        &.active span {
            // transform is heights && margins -> 5+4+5+4 
            &:first-child {transform: translate(0, 9px) rotate(-45deg);}
            &:nth-child(2) {background-color: transparent}
            &:last-child {transform: translate(0, -9px) rotate(45deg)}
        }
    }
}



// Tablets
@media all and (max-width: $mq-tablet) {
    :root, [data-theme="dark"] {
        // Navbar
        --nav-inner-margin:5rem;
        --nav-logo-width:3rem;
        --nav--h1-size:2rem;
        --nav--font-size:1.4rem;
        --nav--li-padding:2rem;
    }

    // Navbar
    #nav-mobile {display: block;}
    nav ul {display: none;}
}



// Mobile
@media all and (max-width: $mq-mobile) {
    :root, [data-theme="dark"] {
        // Navbar
        --nav-inner-margin:2rem;
        --nav-logo-width:2.7rem;
        --nav--h1-size:1.8rem;
    }
}
