// ------------------------------1------------------------------
nav {
    width: 100%;
    height: $nav-height;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    @include flex-position($x: space-between);
    gap:4rem;

    background: var(--secondary-color)
        linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    color: var(--white-color);
}

// ------------------------------2------------------------------
#nav-logo-container {
    all:unset;
    height: 100%;
    @include flex-position;
    margin-left: var(--nav-inner-margin);
    cursor: pointer;

    figure {
        width: var(--nav-logo-width);
        margin-right: 3px;
    }

    h1 {
        font-size: var(--nav--h1-size);
        font-weight: 800;
    }
}

// ------------------------------3------------------------------
#nav-ul {
    min-height: 100%;
    @include flex-position;
    gap: 4rem;
    margin-right: var(--nav-inner-margin);

    // For Dropdown Menus
    position: relative;

    li.dropdown-container {
        position: relative;
        @include flex-position($dir: column, $x: space-around);
    }

    .dropdown-menu {
        @include flex-position($dir: column, $x: space-between);
        display: none;
        top: $nav-height;
        position: absolute;
        margin-right: 0;
        z-index: 1;

        background: var(--secondary-color)
            linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
        min-width: 16rem;

        a {
            padding: 1.2rem 1.6rem;
        }
    }

    .dropdown-container:hover .dropdown-menu {
        display: flex;
    }
}

// ------------------------------4------------------------------
#nav-ul li {
    min-height: $nav-height; // @Room_For_Better
}

// ------------------------------5------------------------------
#nav-ul li a {
    min-height: $nav-height;
    @include flex-position;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    // Dependant on $nav-height
    color: var(--white-color); // @Override(initial)
    font-size: var(--nav--font-size);
    
    position: relative;

    &::before {
        position: absolute;
        bottom: 0px;
        content: "";
        
        width: 100%;
        height: 0;
        opacity: 0;

        background-color: var(--primary-color);
        transition: all $transition-duration ease-in-out;
    }

    &:hover::before, &.page-selected::before {
        height: 4px;
        opacity: 1;
    }
}

// ------------------------------6------------------------------
#nav-mobile {
    display: none;

    margin-right: var(--nav-inner-margin);

    #burger-menu {
        @include flex-position($dir: column);

        span {
            // ---
            display: block;
            height: 5px;
            width: 35px;
            background: var(--white-color);
            margin-bottom: 4px;

            cursor: pointer;
            border-radius: 5px;
            transition: all $transition-duration ease-in-out;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.burger-cross span {
            // Transform is heights && margins -> 5+4+5+4
            &:first-child {
                transform: translate(0, 9px) rotate(-45deg);
            }
            &:nth-child(2) {
                background-color: transparent;
            }
            &:last-child {
                transform: translate(0, -9px) rotate(45deg);
            }
        }
    }
}

// ---------------------------Tablets---------------------------
@media all and (max-width: $mq-tablet) {
    :root,
    [data-theme="dark"] {
        // Navbar
        --nav-inner-margin: 5rem;
        --nav-logo-width: 3rem;
        --nav--h1-size: 2rem;
        --nav--font-size: 1.4rem;
    }

    // Navbar
    #nav-mobile {
        display: block;
    }

    #nav-ul {
        position: absolute;
        right: -50dvw;
        top: $nav-height;
        margin-right: 0;

        height: calc(100dvh - #{$nav-height});
        width: 50dvw;
        background: var(--secondary-color)
            linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
        @include flex-position($dir: column, $x: space-around);
        transition: all $transition-duration ease-in-out;

        &.side-nav {
            right: 0;
        }

        .dropdown-menu {
            position: relative;
            // top: 0;
            right: 4px;
            width: 100%;
            margin-top: 2rem;
            background-color: var(--primary-color);
        }
    }

    #nav-ul li {
        opacity: 0;
        transform: translateX(70px);
        transition-property: all;
        transition-timing-function: linear;
        transition-delay: .2s;
    }

    #nav-ul .show-side-lis {
        opacity: 1;
        transform: translateX(0);
    }

    #nav-ul .dropdown-menu li a::before {
        display: none;
    }
}

// ---------------------------Mobile---------------------------
@media all and (max-width: $mq-mobile) {
    :root,
    [data-theme="dark"] {
        // Navbar
        --nav-inner-margin: 2rem;
        --nav-logo-width: 2.7rem;
        --nav--h1-size: 1.8rem;
    }

    nav ul {
        width: 70dvw;
        right: -70dvw;
    }
}
