// Identity
@import "./boilerplate/colors";
@import "./boilerplate/fonts";

// Reusable
@import "./boilerplate/vars";
@import "./boilerplate/mixins";

// Heavy - #Change_Me
@import "./boilerplate/general";
@import "./boilerplate/initial";

// Fancy
@import "./boilerplate/anime";

// Components
@import "./components/navbar";

// TEMP
h2#temp {
    transform: translate(0, 45dvh);
    text-align: center;
    font-size: 5rem;
}