// DOC's
// color shadows -> filter: saturate($dark-saturation);



:root {
    --primary-color: crimson;
    --secondary-color: rgb(150, 2, 155);
    --font-color: #424242;
    --bg-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --debug-border-color: rgb(26, 218, 36);
}

[data-theme="dark"] {
    --primary-color: #3853ef;
    --secondary-color: #0ff;
    --font-color: #e9edef;
    --bg-color: #020202;
    --shadow-color: #38ef7e81;
    --debug-border-color: rgb(218, 26, 26);
}


:root, [data-theme="dark"] {
    --gray-color: #9b9b9b;
    --transparent-bg-color: #02020263;
    --white-color:#fff;
    --black-color:#000;
    --transparent-bg-color: #02020217;
}
