// ---
:root, [data-theme="dark"] {
    // ---
    --sec-padding:4.5rem;
    
    // Bi-Directional
    --nav-logo-margin: 0 0 0 7rem;
    --nav-ul-margin: 0 7rem 0 0;
}



// ---
$transition-duration: 0.3s;
$dark-saturation: 0.8;
$mq-max-width: 799px;
$border-radius-btn: 1.2rem;
$border-radius-box: 4rem;
$nav-height:7vh;